.body-container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.body-aside {
  background-color: var(--mantine-color-purple-1);
}

.body-main {
  position: relative;
}

.center {
  transform: translate(-50%, -50%);
}
