body::-webkit-scrollbar {
  display: none;
}

main {
  position: relative;
}

iframe {
  width: "500px";
  height: "281px";
  border: 5px solid var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-md);
}

.body-container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.body-aside {
  background-color: var(--mantine-color-purple-1);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumb {
  background-color: var(--mantine-color-gray-5);
  border-radius: 1.25rem;
  max-height: 1.5rem;
}
