.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  align-items: flex-end;
  gap: var(--mantine-spacing-xlg);
  margin-block-start: 40px;
  margin-block-end: var(--mantine-spacing-xxl);
}
