.wrapper {
  &:has(button:hover) {
    input {
      border: 1px solid var(--mantine-color-purple-5);
    }
  }
}

.input {
  height: 3rem;
  padding-inline-start: 2rem;
  padding-inline-end: 6.5rem;
  padding-block: var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-xs);
  border: 1px solid var(--mantine-color-gray-3);

  &::placeholder {
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-gray-5);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--mantine-color-purple-5);
  }
}
